{
  "version": "2.0.0",
  "tasks": [{{- $first := true }}{{- if .HasNode }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "label": "npm: install",
      "type": "npm",
      "script": "install"
    },
    {
      "label": "npm: build",
      "type": "npm",
      "script": "build"
    }{{- end }}{{- if .HasGo }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "label": "go: build",
      "type": "shell",
      "command": "go build ./..."
    },
    {
      "label": "go: test",
      "type": "shell",
      "command": "go test ./..."
    }{{- end }}{{- if .HasPython }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "label": "pytest",
      "type": "shell",
      "command": "python -m pytest"
    }{{- end }}{{- if .HasRust }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "label": "cargo: build",
      "type": "shell",
      "command": "cargo build"
    },
    {
      "label": "cargo: test",
      "type": "shell",
      "command": "cargo test"
    }{{- end }}{{- if .HasErlang }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "label": "rebar3: compile",
      "type": "shell",
      "command": "rebar3 compile"
    },
    {
      "label": "rebar3: eunit",
      "type": "shell",
      "command": "rebar3 eunit"
    },
    {
      "label": "rebar3: shell",
      "type": "shell",
      "command": "rebar3 shell"
    }{{- end }}
  ]
}
